<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Socket Flask</title>
</head>
<body>
    <div id="newsPanel"></div>
    <script src="/static/jquery-1.8.3.js"></script>
    <script src="/static/socket.io.min.js"></script>
    <script>
        WEB_SOCKET_SWF_LOCATION = "/static/WebSocketMain.swf";

        // IE9 can't handle console messages...
        if(!(window.console && console.log)) {
          console = {
            log: function(){},
            debug: function(){},
            info: function(){},
            warn: function(){},
            error: function(){}
          };
        }

        function appendNews(newsPanel, news) {
            var newsHtml =
                    '<div>' +
                        '<h1>' + news.headline + '</h1>' +
                        '<h2>' + news.content + '</h2>' +
                    '</div>';
            newsPanel.append(newsHtml);
        }

        $(document).ready(function() {
            var namespace = '/news'; // change to an empty string to use the global namespace
            var newsPanel = $('#newsPanel');
            console.log("Socket connecting!");
            var socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                console.log("Socket connected!");
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            socket.on('new-news', function(news) {
                console.log("Got new-news: " + news.headline);
                appendNews(newsPanel, news);
            });
        });
    </script>
</body>
</html>