<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="newsPanel"></div>
    <script src="/static/jquery-1.8.3.js"></script>
    <script src="/static/socket.io.min.js"></script>
    <script>
        $(document).ready(function() {
            var namespace = '/news'; // change to an empty string to use the global namespace
            var socket = io.connect(location.origin + namespace);
            var newsPanel = $('#newsPanel');

            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            socket.on('new-news', function(news) {
                console.log("Got new-news: " + news);
                appendNews(newsPanel, news);
            });
        });

        function appendNews(newsPanel, news) {
            var newsHtml =
                    '<div>' +
                        '<h1>' + news.headline + '</h1>' +
                        '<h2>' + news.content + '</h2>' +
                    '</div>';
            newsPanel.append(newsHtml);
        }
    </script>
</body>
</html>